# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
.vscode/
!.vscode/extensions.json
node_modules.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

msr_server

install_deps/hwi-rs-ui2*
install_deps/hwi_rs


# Added by cargo

/target
