.bar {
    background-color: #282C34;
    width: 100%;
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    a {
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3vh;
        padding: 1vh;
        width: 12vh;
        text-decoration: none;
        color:wheat;
        margin: 2vh;
        background-color: #1e2125;
    }
}