.sidebar{
    background-color: #21232b;
    width: 100%;
    flex: 8;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0; 
    .page {
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3vh;
        padding: 1vh;
        width: 8vh;
        text-decoration: none;
        color:wheat;
        margin: 2vh;
        background-color: #2f3b4b;
    }  
    .page:hover {
        background-color: #5c6877;
    }
}